* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 0 20px 20px 20px;
}
.img {
  width: 50px;
}
.img img {
  width: 100%;
  object-fit: contain;
}
.card {
  display: flex;
  align-items: center;
}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}
table {
  width: 95%;
  margin: 0 auto;
}
table,
tr,
th,
td {
  border: 1px solid #ccc;
  border-collapse: collapse;
}
tr,
th,
td {
  padding: 4px 16px;
}
h1 {
  margin-left: 4px;
}
header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header > div {
  height: 100%;
}
header div img {
  height: 80%;
  width: auto;
}
header .info-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.icon-title {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  justify-items: center;
}
.icon-title > div {
  height: auto;
  font-size: 30px;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #f08959;
}
header span {
  background-color: rgba(204, 204, 204, 0.2);
  padding: 2px;
  border-radius: 4px;
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #f08959;
  font-weight: 600;
}
.info-header > div {
  align-items: center;
  display: flex;
}

.info-header > div > p {
  width: 150px;
}
header {
  border-bottom: 1px solid #ccc;
}

p.heading {
  font-size: 20px;
  font-weight: 600;
  margin: 12px 0;
}
p.sub-heading {
  font-size: 18px;
  font-weight: 600;
  margin: 8px;
}
.action-docker {
  padding: 8px 18px;
  margin-left: 12px;
  cursor: pointer;
}

.guide-win,
.guide-linux,
.guide-mac {
  display: none;
  color: red;
  font-style: italic;
}

#cpu-name {
  margin-left: 8px;
}
.network {
  display: flex;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: fit-content;
}
.network-info {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  align-items: center;
}
.network-info:first-child {
  border-right: 1px solid #ccc;
}
.network-info-img {
  display: flex;
  align-items: center;
}
.network-info-img p {
  margin-left: 8px;
}
.network-info-img img {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 99999px;
  padding: 4px;
}
.network-info:first-child :first-child img {
  border-color: red;
}
.network-info:last-child img {
  border-color: green;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.network-monitoring > p.heading {
  text-align: center;
}
.form-new-task {
  display: flex;
  align-items: center;
}
.form-new-task input {
  padding: 8px 16px;
  border-radius: 8px;
  margin-right: 16px;
  outline: none;
  border: 1px solid #ccc;
}
#create-new-task {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  height: 100%;
}
.actionBtn {
  display: flex;
  justify-content: space-between;
  /* justify-items: stretch; */
  /* align-items: stretch; */
  /* align-content: stretch; */
}

.actionBtn button:first-child {
  flex: 1/2;
  margin-right: 4px;
}

.loader {
  display: inline-block;
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: #000;
  margin-left: 16px;
  margin-right: 8px;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

.loading {
  display: flex;
  align-items: center;
}
#loading,
.loading {
  opacity: 0;
}
.card-info > p:first-child {
  font-weight: 600;
}

#error {
  color: red;
}

body {
  position: relative;
}
#main {
  display: none;
}
#dialog {
  width: 400px;
  /* height: 400px; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 28px;
  /* text-align: center; */
}

#input-token {
  padding: 8px 16px;
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 99999px;
  width: 60%;
}

#dialog > div {
  width: 100%;
  margin-top: 20px;
  text-align: right;
}

#btn-connect {
  border: 1px solid #ccc;
  border-radius: 99999px;
  outline: 0;
  padding: 8px 16px;
  width: 40%;
  cursor: pointer;
  background: #0d64de;
  color: white;
  border: none;
}

#id-container {
  max-width: 10ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block; 
}
